/* Estilos generales para el body */
body {
    margin: 0;
    padding: 0;
    background: url(images/abstract-dark-blurred-background-smooth-gradient-texture-color-shiny-bright-website-pattern-banner-header-or-sidebar-graphic-art-image.jpg);
    background-size: cover;
    font-family: sans-serif;
  }
  
  /* Estilos para el formulario de login */
  .login-form {
    width: 90%; /* Ancho del formulario */
    max-width: 400px; /* Ancho máximo */
    height: auto; /* Altura automática */
    background: #000;
    color: #fff;
    position: absolute;
    top: 50%; /* Posición vertical */
    left: 50%; /* Posición horizontal */
    transform: translate(-50%, -50%); /* Centrar en pantalla */
    box-sizing: border-box;
    padding: 70px 30px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  /* Estilos para el logo */
  .login-form .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  /* Estilos para el título */
  .login-form h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  /* Estilos para las etiquetas */
  .login-form label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    margin-bottom: 10px; /* Espaciado inferior */
  }
  
  /* Estilos para los campos de entrada */
  .login-form input{
    width: 95%; /*correji un error utilizando el ancho de pantalla */
    margin-bottom: 20px; /* Espaciado inferior */
    padding: 10px; /* Espaciado interno */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    background-color: rgba(255,255,255,0.8); /* Fondo semi-transparente */
  }
  
  /* Estilos para el botón de enviar */
  .login-form input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: all 0.3s ease; /* Transición suave */
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #e0293f;
  }
  
  /* Estilos para el enlace de "Olvidé mi contraseña" */
  .login-form a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    display: block;
    text-align: center;
  }
  
  .login-form a:hover{
    color: #fff;
  }
  